body {
  background-color: #f5f8fd;
}
.header {
  background: #1bb1dc;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 15px 35px;
  box-shadow: 0 0 30px rgba(127, 137, 161, 0.3);
}
.logo {
  align-self: center;
  height: 45px;
  width: 150px;
}
.logo img {
  height: 100%;
  width: 100%;
}
.search-and-icon {
  align-self: center;
  display: flex;
}
.search-and-icon .search {
  margin-right: 10px;
  align-self: center;
}
.user-icon {
  align-self: center;
  height: 35px;
  width: 35px;
}
.user-icon img {
height:100%;
width: 100%;
}
.container {
  padding: 25px 15px;
}
.shops {
  border-radius: 15px;
  margin: 25px;
  box-shadow: 0 3px 0 0 rgba(65, 62, 102, 0.08);
  transition: all 0.3s ease-in-out;
  padding: 35px 25px;
  background: #fff;

  

}

.shops img{
  width: 100%;
  height: 100%;
}
.shops:hover {
  box-shadow: 0 30px 40px 0 rgba(0, 0, 0, 0.08);
}
.shops img.location{
  height: 30px;
  width: 30px;
}
h5{
  color:green;
  padding: 10px;
}
h6{
  float: right;
  color: blue;
  padding: 10px;
}
h3{
  color: red;
  padding: 10px;

}
h2{
  color: black;
}
h4{
  color: black;
}

.btn-shop .btn-primary{
  text-align: center;
  background: darkblue;
    align-self:center;
  color: #fff;
  width:100%;
  text-align:center;
  
}